/* Header */
.navbar-brand>img.mobile-logo{display:block;}
.navbar-brand>img.desktop-logo{display:none;}




.navbar-brand {
height: auto;
}

div#bs-example-navbar-collapse-1 {
  padding-top: 2.5%;
}

/* Body */

#title {
    margin-top: 100px;
    padding-bottom: 30px;
}




.jumbotron-container {
 margin-top: 80px;
 padding-bottom: 0px;
 padding-top: 5px;
}

.testimonials blockquote {
    position: relative;
    background: white;
    min-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    text-align: center;
    
}


.container-head {
    color: firebrick;
    font-size: 30px;
    
}

.container-body {
   
    font-size: 30px;
    
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.textarea{
 width: 100%;   
}

.input-group{
 width: 100%;   
}


    
.row{padding:15px; margin:15px;} 
.row-head{padding:-12.5px; margin:-12.5px;} 
    
.btn-submit{width: 50%; margin-top: 35px; margin-left: 0px;}

.btn-attach{width: 25%; margin-top: 35px; margin-left: 0px;}
    
.blog-header{margin-top: 75px;}
.blog-search{margin-top: 175px;}

.marketing-content h3{color:firebrick;text-align: center;}


    
}

.hp-car-3 h1{color:black;}
.hp-car-3 p{color:black;}

/* Footer */

.footer {
  padding-top: 25px;   
}

/* Media */
@media screen and (min-width: 992px){
    
.navbar-brand>img.mobile-logo{display:none;}
.navbar-brand>img.desktop-logo{display:block;}
#title {margin-top: 140px;}
.jumbotron-container {margin-top:120px;}