.navbar-brand {
height: auto;
}

div#bs-example-navbar-collapse-1 {
  padding-top: 2.5%;
}

#title {
    padding-top: 140px;
    padding-bottom: 30px;
}

.footer {
  padding-top: 25px;   
}


iframe {
 border: none;
 
}

.iframe-top-nav {
 border: none;
 height: auto;
}

.iframe-footer {
 border: none;
 height: 50px;

}

.jumbotron-container {
 padding-top: 150px;   
}

.testimonials blockquote {
    position: relative;
    background: white;
    min-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    text-align: center;
    
}


.container-head {
    color: firebrick;
    font-size: 30px;
    
}

.container-body {
   
    font-size: 30px;
    
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.textarea{
 width: 100%;   
}

.input-group{
 width: 100%;   
}


    
 .row{padding:15px; margin:15px;}   
    
.btn-submit{width: 50%; margin-top: 35px; margin-left: 0px;}

.btn-attach{width: 25%; margin-top: 35px; margin-left: 0px;}
    
.blog-header{padding-top: 175px;}
.blog-search{margin-top: 175px;}

.marketing-content h3{color:firebrick;text-align: center;}

.hp-car-2 h1{color:black;}
.hp-car-2 p{color:black;}

.hp-car-3 h1{color:black;}
.hp-car-3 p{color:black;}