.navbar-brand {
height: auto;
}

div#bs-example-navbar-collapse-1 {
  padding-top: 2.5%;
}

#title {
    padding-top: 140px;
    padding-bottom: 30px;
}

.footer {
  padding-top: 25px;   
}


iframe {
 border: none;
 
}

.iframe-top-nav {
 border: none;
 height: auto;
}

.iframe-footer {
 border: none;
 height: 50px;

}

.jumbotron-container {
 padding-top: 125px;   
}